*__pycache__/
samples*/
runs/
checkpoints/
master_ip
logs/
*.DS_Store
.idea
output*
test*
venv
**/.swp
**/*.log
**/*.debug
**/.vscode

**/*debug*
**/.gitignore
**/finetune/*-lora-*
**/finetune/Disney-*
**/wandb
**/results
**/*.mp4
**/validation_set
CogVideo-1.0

**/**foo**
**/sat
**/train_results
**/train_res*

**/**foo**
**/sat
**/train_results
**/train_res*

**/uv.lock
