diffusers>=0.30.0
transformers>=4.43.4
accelerate>=0.33.0
sentencepiece==0.2.0 # T5
SwissArmyTransformer==0.4.11 # Inference
torch==2.4.0 # Tested in 2.2 2.3 2.4 and 2.5
torchvision==0.19.0
gradio==4.40.0 # For HF gradio demo
pillow==9.5.0 # For HF gradio demo
streamlit==1.37.0 # For streamlit web demo
opencv-python==4.10 # For diffusers inference origin export video
imageio==2.34.2 # For diffusers inference export video
imageio-ffmpeg==0.5.1 # For diffusers inference export video
openai==1.38.0 # For prompt refiner