spaces==0.29.3
safetensors>=0.4.4
spandrel>=0.3.4
tqdm>=4.66.5
opencv-python>=4.10.0.84
scikit-video>=1.1.11
diffusers>=0.30.1
transformers>=4.44.0
accelerate>=0.33.0
sentencepiece>=0.2.0
SwissArmyTransformer>=0.4.12
numpy==1.26.0
torch>=2.4.0
torchvision>=0.19.0
gradio>=4.42.0
streamlit>=1.37.1
imageio==2.34.2
imageio-ffmpeg==0.5.1
openai>=1.42.0
moviepy==1.0.3
pillow==9.5.0